/* ---- pallete ---- */
/*
#EFF7F3
#ABF2D4
#2BC487
#0F4F35
#030F0A
*/

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #EFF7F3
}